.grades {
    @apply flex gap-1.5;

    .all {
        background: linear-gradient(145deg, #898989, #737373);
    }

    .first {
        background: linear-gradient(145deg, #f75050, #d04444);
    }

    .second {
        background: linear-gradient(145deg, #3980df, #306cbb);
    }

    .third {
        background: linear-gradient(145deg, #fbb800, #d49b00);
    }
}
