.null {
    --primary-light: none;
    --secondary-light: none;
    --primary-dark: none;
    --secondary-dark: none;
}

.icon {
    @apply trans h-[22px] w-[22px];

    background: var(--primary-light) no-repeat;

    &:hover {
        background: var(--secondary-light) no-repeat;
    }
}

[data-theme="dark"] .icon {
    background: var(--primary-dark) no-repeat;

    &:hover {
        background: var(--secondary-dark) no-repeat;
    }
}
