@tailwind components;

@layer components {
    .trans {
        transition: all 0.25s ease-in-out;
    }
}

.header {
    @apply fixed left-0 right-0 top-0 h-20 w-full backdrop-blur;
}

.header nav {
    @apply mx-auto flex h-full w-full max-w-screen-xl items-center px-4;
}

.header .logo {
    @apply min-w-max text-2xl;
    color: var(--text-primary);
}

.header .links {
    @apply ml-11 flex min-w-max items-center gap-6;
}

.header .links a {
    @apply trans;
    color: var(--text-secondary);
}

.header .links a:hover {
    @apply trans;
    color: var(--text-primary);
}

.header .buttons {
    @apply flex w-full justify-end gap-4;
}

.header .buttons .button {
    @apply flex gap-4;
}

.header .buttons .button a {
    @apply flex h-9 items-center rounded-md px-4 text-sm font-medium;
}

.header .buttons .button .default {
    @apply trans border;
    border-color: var(--bg-secondary);
    background: var(--bg-primary);
    color: var(--text-secondary);
}

.header .buttons .button .default:hover {
    border-color: var(--bg-highlight);
    color: var(--text-primary);
}

.header .buttons .button .highlight {
    @apply trans;
    background: var(--bg-highlight);
    color: var(--text-highlight);
}

.header .buttons .button .highlight:hover {
    @apply trans bg-blue-600;
    color: var(--text-highlight);
}

.header .buttons .icons {
    @apply my-auto flex h-min items-center gap-4 border-r pr-3;
    border-color: var(--bg-secondary);
}

.header .buttons .icons .icon {
    @apply trans h-6 w-6;
    color: var(--text-secondary);
}

.header .buttons .icons .icon:hover {
    color: var(--text-primary);
}

@media (max-width: 830px) {
    .header .logo {
        @apply w-screen text-center;
    }

    .header .links {
        @apply hidden;
    }

    .header .buttons {
        @apply hidden;
    }
}
