.content {
    @apply grid h-full w-full grid-cols-2 gap-x-10 gap-y-4 p-7;
}

@media (max-width: 1250px) {
    .content {
        @apply grid-cols-1;
    }
}

.loading {
    @apply flex w-full items-center justify-center;
}

.loading span {
    @apply mt-2 flex w-[427px] items-center justify-center rounded-xl border p-7 text-4xl;
    color: var(--text-primary);
    background: var(--bg-primary);
    border-color: var(--bg-secondary);
    box-shadow: var(--box-shadow);
}
