.navbar[data-enabled] {
    @apply border-sec fixed bottom-0 h-20 w-full border-l border-r border-t backdrop-blur data-[enabled=true]:h-full;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: height 0.5s ease-in-out;

    .button {
        @apply fixed bottom-0 h-20 w-full px-8 py-5;

        .title {
            @apply flex items-center justify-center;

            span {
                @apply text-center;

                flex: 1 0 80%;
            }

            h1 {
                @apply text-xl font-bold;
            }

            p {
                @apply text-sec w-full text-sm;

                flex: 1 0 10%;
            }

            svg {
                @apply h-7 w-7;

                flex: 1 0 10%;
                transition: transform 0.5s ease-in-out;
            }
        }
    }

    .real {
        @apply w-full;

        height: calc(100% - 5rem);

        .sidebar {
            @apply overflow-auto;

            height: calc(100% - 6.5rem);
        }

        .touch_section[data-enabled] {
            .buttons {
                @apply mt-3;

                @include append-attr("false") {
                    display: none;
                }
            }

            .links {
                @apply mt-3 grid grid-cols-3 gap-y-2;

                @include append-attr("false") {
                    display: none;
                }

                a {
                    @apply text-center;
                }
            }
        }

        .license {
            @apply text-sec mt-2 text-center text-sm;

            @include append-attr("false") {
                display: none;
            }
        }
    }

    @media (width >= 715px) {
        @apply hidden;
    }
}

.navbar[data-enabled="true"] .button .title svg {
    @apply rotate-180 transform;
}

.navbar[data-enabled="false"] .real {
    @apply hidden;
}
