@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "S-CoreDream-3Light";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary: #fff;
    --secondary: #f0f0f0;
    --highlight: #000;
    --text-primary: #000;
    --text-secondary: #6b7280;
    --text-highlight: #fff;
    --shadow: 20px 20px 60px #bdbdbd, -20px -20px 60px #fff;
    --shadow-highlight: 24px 24px 50px #999, -24px -24px 50px #fff;
    --shadow-inner: inset 2px 2px 5px #bfbfbf, inset -2px -2px 5px #fff;
    --hgbtn-bg: #fff;
    --hgbtn-text: #fff;
}

[data-theme="dark"] {
    --primary: #171717;
    --secondary: #2c2c2c;
    --highlight: #e3e3e3;
    --text-primary: #fff;
    --text-secondary: #6b7280;
    --text-highlight: #000;
    --shadow: 20px 20px 60px #141414, -20px -20px 60px #1a1a1a;
    --shadow-highlight: 24px 24px 50px #141414, -24px -24px 50px #1a1a1a;
    --shadow-inner: inset 2px 2px 5px #141414, inset -2px -2px 5px #1a1a1a;
}

body {
    @apply pt-24 font-escore;

    @media (width <= 715px) {
        @apply pb-12 pt-0;

        @at-root footer {
            @apply hidden;
        }
    }
}

.button {
    @apply flex h-9 items-center rounded-md px-4 text-sm font-medium;

    &.default {
        @apply bg-pri border-sec text-sec trans border;
    }

    &:hover {
        @apply !border-hg text-pri;
    }

    &.highlight {
        @apply bg-hg text-hg trans;

        &:hover {
            @apply trans;

            background: var(--hgbtn-bg);
            color: var(--hgbtn-text);
        }
    }
}

/* .box_section {
    @apply rounded-3xl border p-7;

    border-color: var(--bg-secondary);
    background: var(--bg-primary);
    box-shadow: var(--box-shadow-highlight);

    .title {
        @apply flex items-center gap-7;

        h1 {
            @apply min-w-max text-2xl font-bold;

            color: var(--text-primary);
        }
    }

    .content {
        @apply mt-7;

        .inner_section {
            @apply flex items-center gap-4 rounded-xl border p-1.5;

            background: var(--bg-primary);
            border-color: var(--bg-secondary);
            box-shadow: 5px 5px 10px #ccc, -5px -5px 10px #fff;
        }
    }
}

.progress {
    @apply h-5 w-full rounded-full;

    background: var(--bg-primary);
    box-shadow: var(--inner-box-shadow);

    .passed {
        @apply h-full rounded-full;

        background: linear-gradient(145deg, #3cac70, #32915f);
        transition: width 1.5s ease-in-out;
    }
} */
