@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "S-CoreDream-3Light";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@layer components {
    .bg-secondary {
        background: var(--bg-secondary);
        border-color: var(--bg-secondary);
    }

    .bg-highlight {
        background: var(--bg-highlight);
    }

    .text-primary {
        color: var(--text-primary);
    }

    .text-highlight {
        color: var(--text-highlight);
    }
}

:root {
    --bg-primary: #ffffff;
    --bg-secondary: #9ca3af;
    --bg-highlight: #000000;
    --text-primary: #000000;
    --text-secondary: #6b7280;
    --text-highlight: #ffffff;

    --box-shadow: 20px 20px 60px #bdbdbd, -20px -20px 60px #ffffff;
    --box-shadow-highlight: 24px 24px 50px #999999, -24px -24px 50px #ffffff;
    --inner-box-shadow: inset 2px 2px 5px #bfbfbf, inset -2px -2px 5px #ffffff;
}

body {
    @apply pt-24;
}

[data-theme="dark"] {
    --bg-primary: #171717;
    --bg-secondary: #2c2c2c;
    --bg-highlight: #e3e3e3;
    --text-primary: #ffffff;
    --text-secondary: #6b7280;
    --text-highlight: #000000;

    --box-shadow: 20px 20px 60px #141414, -20px -20px 60px #1a1a1a;
    --box-shadow-highlight: 24px 24px 50px #141414, -24px -24px 50px #1a1a1a;
    --inner-box-shadow: inset 2px 2px 5px #141414, inset -2px -2px 5px #1a1a1a;
}

main {
    @apply mx-auto min-h-screen w-full max-w-[1340px];
}

hr {
    @apply h-px border-0;
}

.unsupported-size {
    @apply hidden;
}

.unsupported-size p {
    @apply w-screen text-center;
}

@media (max-width: 282px) {
    .body {
        @apply hidden;
    }

    .unsupported-size {
        display: unset;
    }
}
