.dday_box {
    @apply flex w-full justify-center pb-7;
}

.dday_box .title {
    @apply flex w-full justify-center gap-2 text-xl;
    color: var(--text-primary);
}

.dday_box .content_box {
    @apply mt-2 w-[427px] rounded-xl border p-1.5;
    background: var(--bg-primary);
    border-color: var(--bg-secondary);
    box-shadow: var(--box-shadow);
}

.dday_box .content_box .tags {
    @apply flex justify-between rounded-xl border p-1.5 text-sm;
    background: var(--bg-primary);
    border-color: var(--bg-secondary);
    box-shadow: 5px 5px 10px #cccccc, -5px -5px 10px #ffffff;
}

[data-theme="dark"] .dday_box .content_box .tags {
    box-shadow: 5px 5px 10px #141414, -5px -5px 10px #1a1a1a;
}

.dday_box .content_box .tags p {
    @apply rounded-[.4rem] px-1.5 py-1 font-bold text-white;
}

.dday_box .content_box .tags .date_informations {
    @apply flex gap-1.5;
}

@media (max-width: 428px) {
    .dday_box .content_box {
        @apply w-screen;
    }

    .dday_box .content_box .tags .date_informations {
        @apply hidden;
    }
}
